@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*, *::before, *::after {
    box-sizing: inherit;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto';
}

html {
    box-sizing: border-box;
}

.hflex-container {
    display: flex;
    align-items: center;
}

.vflex-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.default-spacing {
    padding: 10vh 20vw;
}

.sp-around {
    justify-content: space-around;
}

main {
    background-color: #F6F6F6;
}

nav {
    color: #FFFFFF;
    background-color: #01A1B0;
    padding: 20px 0;
    justify-content: space-between;
}

header {
    color: #2F2F2F;
    background-color: #F6F6F6;
    height: 80vh;
    justify-content: center;
    border-color: green;
    overflow: hidden;
    position: relative;
}

.hero-image {
    opacity: 0.5;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: auto;
}

ul li {
    width: 30%;
}

footer {
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.challenges {
    gap: 3vh;
    background-color: #01A1B0;
}

.oneLiner {
    font-weight: bold;
    text-align: center;
    gap: 3vh;
}

.oneLiner p {
    width: 80%;
}

.card-container {
    justify-content: center;
    background-color: #01A1B0;
}

.card-plan-item {
    justify-content: space-around;
    background-color: #FFFFFF;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.4);
    transition: 0.3s;
    padding: 40px 160px;
    width: 90%;
    border-radius: 25px;
    font-weight: bold;
}

.card-plan-item:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.4);
}

.consult-button {
    background-color: #FDB140;
    padding: 8px 16px;
    color: #2F2F2F;
    border-radius: 15px;
}

.footer-one, .footer-two, .footer-three {
    margin: 30px;
}

.footer-one, .footer-three {
    flex: initial;
    width: 300px;
}

.footer-two {
    flex: 2;
}

.hero {
    height: 10vh;
    text-align: center;
    gap: 3vh;
    position: relative;
}

.logo {
    font-size: 24px;
    font-weight: bold;
    margin-left: 30px;
}

.links {
    margin-right: 30px;
    display: flex;
    justify-content: flex-end;
    gap: 1rem;
}

.links a {
    text-decoration: none;
    color: white;
}

.links li {
    list-style: none;
}