*, *::before, *::after {
    box-sizing: inherit;
}

* {
    margin: 0;
    padding: 0;
}

html {
    box-sizing: border-box;
}

nav {
    color: #fff;
    background-color: #5995DA;
    padding: 20px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header {
    color: #5995DA;
    background-color: #D6E9FE;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    border-color: green;
}

footer {
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.card-left-container {
    background-color: #5995DA;
    min-height: 20vh;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.card {
    background-color: #fff;
    min-height: inherit;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1;
}

.card-image {
    flex: 2;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-one, .footer-two, .footer-three {
    margin: 30px;
}

.footer-one, .footer-three {
    flex: initial;
    width: 300px;
}

.footer-two {
    flex: 2;
}

.hero {
    width: 900px;
    height: 300px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;;
    flex-direction: column;
}

.logo {
    font-size: 24px;
    margin-left: 30px;
}

.links {
    margin-right: 30px;
    display: flex;
    justify-content: flex-end;
    gap: 1rem;
}

.links a {
    text-decoration: none;
    color: white;
}

.links li {
    list-style: none;
}