@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::before,
*::after {
  box-sizing: inherit;
}

* {
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
}

main {
  background-color: #f6f6f6;
}

nav {
  color: #ffffff;
  background-color: #01a1b0;
  padding: 20px 0;
  justify-content: space-between;
}

.primary-bg {
  background-color: #01a1b0;
}

header {
  color: #2f2f2f;
  background-color: #f6f6f6;
  height: 80vh;
  justify-content: center;
  border-color: green;
  overflow: hidden;
  position: relative;
}

.hero-image {
  opacity: 0.5;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: auto;
}

ul li {
  width: 30%;
}

footer {
  background-color: black;
  color: white;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.card-container {
  justify-content: center;
  background-color: #01a1b0;
}

.card-plan-item:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.4);
}

.consult-button {
  background-color: #fdb140;
  padding: 8px 16px;
  color: #2f2f2f;
  border-radius: 15px;
}

.footer-one,
.footer-two,
.footer-three {
  margin: 30px;
}

.footer-one,
.footer-three {
  flex: initial;
  width: 300px;
}

.footer-two {
  flex: 2;
}

.hero {
  text-align: center;
  gap: 3vh;
  position: relative;
}

.links a {
  text-decoration: none;
  color: white;
}

.links li {
  list-style: none;
}
